body {
    background: rgb(242, 242, 242);
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: none;
    font-size: 12px;
    line-height: 18px;
    color: #333;
    font-family: "Microsoft YaHei" !important;
}

.bar,
.cart,
.change,
.codeBar,
.count,
.data,
.defaultAd,
.del,
.detailContent,
.guide,
.hot,
.iconbox,
.login,
.logo,
.norm,
.normBtn,
.outerBar,
.price,
.round,
.sale,
.search,
.tag,
.tipText,
.topLeft,
.topRight,
.userBoard,
.x-checkbox,
.x-codeArea,
.x-del,
.x-gender,
.x-inlineBlock,
.x-radio,
a,
h1,
span,
ul {
    display: inline-block;
}

.topRight .login,
.topRight .userBoard,
.topRight ul,
.topRight ul a,
.topRight ul div,
.userBoard .more,
.userBoard .userID span,
.userBoard .vip {
    vertical-align: middle;
}

a {
    cursor: pointer;
    text-decoration: none;
}

.headerTop {
    height: 26px;
    background-color: #000;
    color: #fff;
    padding-top: 5px;
}

.x-main {
    width: 1090px;
    margin: 0 auto;
}

.topLeft {
    float: left;
}

.topRight {
    float: right;
}

.topRight .login span {
    padding-right: 21px;
}

.imgbox,
.rel,
.x-main {
    position: relative;
}

.topLeft span,
.topRight a {
    color: #ccc;
}

.userBoard {
    cursor: pointer;
}

.x-hide {
    display: none !important;
}

.topRight ul {
    margin-top: -23px;
}

ol,
ul {
    list-style: none;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.topRight ul li {
    padding-right: 14px;
}

.x-fll,
li {
    float: left;
}

.topRight ul li ::before {
    content: "|";
    margin-right: 14px;
    ;
}


/* 头部下 */

.headerBottom {
    width: 100%;
    -webkit-box-shadow: 0 0 10px rgba(178, 178, 178, .3);
    box-shadow: 0 0 10px rgba(178, 178, 178, .3);
    padding: 20px 0 0 0;
    z-index: 9;
}

.headerBottom,
.search {
    position: relative;
}

.headerBottom,
.logo {
    background-color: #fff;
}

.x-main-x {
    text-align: center;
    position: initial;
}

.x-main {
    width: 1090px;
    margin: 0 auto;
}

.imgbox,
.rel,
.x-main {
    position: relative;
}

.logo {
    width: 100px;
    overflow: hidden;
    box-sizing: border-box;
    padding-top: 4px;
}

.headerBottom,
.logo {
    background-color: #fff;
}

.logo img {
    width: 100%;
}

img {
    vertical-align: middle;
}

.x-floor-x {
    position: absolute;
    top: 11px;
    right: 61px;
}

.link div,
.x-floor-x {
    display: inline-block;
}

.headerBottom,
.search {
    position: relative;
}

form {
    display: block;
    margin-top: 0em;
}


/* 搜索框 */

.search .searchBtn {
    width: 16px;
    height: 16px;
    top: 10px;
    left: 10px;
    background: url(../../static/images/search.png) center center no-repeat #fff;
}

.cart,
.cart .news,
.cartBoard,
.search .searchBoard,
.search .searchBtn {
    position: absolute;
}

.button-next,
.button-prev,
button {
    cursor: pointer;
}

button {
    border-radius: 3px;
    color: #fff;
}

.search input {
    height: 34px;
    width: 274px;
    line-height: 34px;
    border-radius: 30px;
    padding-left: 37px;
    color: #999;
}

input {
    border: 1px solid #ddd;
    border-radius: 3px;
}


/* 搜索下拉框即内容 */

.search .searchBoard {
    width: 278px;
    padding: 7px 17px;
    border-radius: 3px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 10px rgba(178, 178, 178, .3);
    box-shadow: 0 0 10px rgba(178, 178, 178, .3);
    top: 45px;
    left: 0;
    z-index: 50;
    text-align: left;
}

.search .recommend {
    padding-top: 14px;
}

.search .searchBoard h1 {
    display: block;
}

.x-gray {
    color: #999 !important;
}

b,
h1,
h2,
h3 {
    font-weight: 100;
}

.search .searchBoard li {
    cursor: pointer;
    float: none;
    padding-top: 8px;
    width: 240px;
    overflow: hidden;
}

.cartBoard .list .title p,
.nav .x-floor,
.search .searchBoard li {
    display: inline-block;
}

.cartBoard .list .title a,
.itemList .title,
.limitRight .text .name,
.search .searchBoard li {
    white-space: nowrap;
    text-overflow: ellipsis;
}


/* 购物车 */

.scroll-logo{
	position: absolute;
	left: 100px;
    top: 25px;
    width: 80px;
    display: none;
}

.cart {
    width: 35px;
    height: 35px;
    top: 18px;
    right: 12px;
    cursor: pointer;
    background: url(../../static/images/cart.png) 10px 0 no-repeat;
}
.car {
    width: 30px;
    height: 30px;
    margin-top: -5px;
    margin-left: 4px;
}

.cart .news {
    min-width: 18px;
    height: 18px;
    box-sizing: border-box;
    padding: 0 2px;
    color: #fff;
    text-align: center;
    border-radius: 20px;
    background-color: #d9232e;
    top: -10px;
    right: -10px;
}

.nav {
    padding-top: 30px;
    box-sizing: border-box;
}
.nav9{
	position: relative;
}
.nav9>a{
	font-weight: bolder;
	position: absolute;
	font-size: 12px;
	display: none;
}
.nav9>a:nth-child(1){
	left: 90%;

}
.nav9>a:nth-child(2){
	left: 93%;

}

.itemList .imgbox,
.itemList .item,
.limitLeft,
.limitLeft input,
.nav,
.nav .menuBox,
.x-banner,
.x-footer {
    text-align: center;
}

.nav .navRight {
    height: 20px;
    border-left: 1px solid #ccc;
}

.nav9 li {
    box-sizing: border-box;
    padding: 0 28px;
    padding-bottom: 50px;
}

.x-fll,
li {
    float: left;
}


/* .nav .secMenu .x-main {
    display: flex;
    justify-content: center;
} */

.x-main {
    width: 1090px;
    margin: 0 auto;
}

.x-main-p>div {
    float: left;
    margin-left: 100px;
}

.imgbox,
.rel,
.x-main {
    position: relative;
}

.nav li>a {
    font-size: 14px;
    padding-bottom: 9px;
    line-height: 20px;
    color: #333;
    border-bottom: 3px solid #fff;
}

.nav li>a,
.x-blod {
    font-weight: 700;
}

.nav .active>a,
.nav .navLeft li:hover>a,
.nav .navRight li:hover>a {
    color: #d9232e;
    border-bottom: 3px solid #d9232e;
}

.nav .secMenu {
    padding-top: 34px;
    padding-bottom: 35px;
    width: 126%;
    position: absolute;
    background-color: #fff;
    top: 80px;
    left: -137px;
    z-index: 201;
    -webkit-box-shadow: 0 3px 3px rgba(178, 178, 178, .3);
    box-shadow: 0 3px 3px rgba(178, 178, 178, .3);
    overflow: hidden;
    display: none;
}

.navLeft li:hover .secMenu {
    display: block;
}

.nav .navLeft,
.nav .navRight {
    line-height: 20px;
    vertical-align: top;
}
img {
    vertical-align: middle;
}
.x-header{
	position: relative;
	z-index: 900;
}
/*固定定位表头*/
.fixed{
	display: block;
}
.zuishangmian{
	display: none;
	z-index: 900;
}

/*
 ---------------------------------------------------------------------------------------------------
 中间
 * */
.bigimg{
	width: 100%;
	height: 420px;
}
.bigimg img{
	width: 100%;
	height: 100%;
}

/*轮播图*/
.lunbo{
	padding-bottom: 100px;
	z-index: -2;;
	background: white;
}
.new {
	position: relative;
	padding:30px 0 0 0;
	
}
.new a{
	margin: -6px 0 0 160px;
	position: absolute;;
	top: 40px;
	left: 0;
}
.new span:nth-child(1){
	font-size: 30px;
	vertical-align: middle;
}
.new span:nth-child(2){
	font-size: 14px;
	vertical-align: middle;	
}
.nowhot-L {
	/*background: red;*/
	margin-top: 20px;
	position: relative;
	height: 390px;
	margin-left: 195px;
}

.nowhot-L img{
	width: 250px;
    height: 280px;
}

.hot-l-l {
	margin-left: 30px;
	margin-top: 66px;
}

.show {
	position: absolute;
	left: 5px;
	top: 27px;
	width: 1000px;
	height: 390px;
	padding: 0 20px;
	/*border: 1px solid #999;*/
	overflow: hidden;
	z-index: 2;
}

.now-show {
	width: 3500px;
	height: 390px;
	position: absolute;
	top: 0;
	left: 20px;
	transition: .8s;
}

.now-show div {
	background: rgb(255, 255, 255);
	margin-left: 30px;
	width: 220px;
    height: 355px;
	float: left;
	border-radius: 13px;
	position: relative;
	z-index: -1;
}

.now-show span {
	display: block;
	margin-left: 82px;
	color: #666;
	font-size: 12px;
	width: 117px;
}

.now-show p {
	margin-top: 5px;
	margin-left: 102px;
	font-weight: 800;
	color: rgb(197, 54, 26);
}

.now-show div span {
	font-size: 12px;
}
.now-show:hover p{
	cursor: pointer;
}
.now-show:hover span{
	cursor: pointer;
}

.now-show div img:nth-child(2) {
	position: absolute;
	top: -3px;
	left: -4px;
}

.now-show div img:nth-child(1) {
	margin-top: 10px;
	margin-left: 0px;
}

.btn1 {
	height: 50px;
	width: 40px;
	position: absolute;
	top: 155px;
    left: -35px;
	background: url(../imgs/jiantou.png);
	background-size: 50px 50px;
	transform:rotate(180deg);
	z-index: 5;
}

.btn2 {
	height: 50px;
	width: 40px;
	position: absolute;
	top: 155px;
    left: 1030px;
	background: url(../imgs/jiantou.png);
	background-size: 50px 50px;
}


/*中间弹性盒子*/
.content{
	padding-top: 100px;
	padding-bottom:10px;
	background: white;
	margin: 0 0 0 0;
}
.p-box{
	padding-bottom: 45px;
	margin-left: 130px;
}
.content .p-box>span{
	font-size: 28px;
    line-height: 28px;
    padding-right: 18px;
    font-weight: 100;
    color: #333;
    font-family: "Microsoft YaHei"!important;
    display: block;
    float: left;
}
.content .p-box>span:hover{
	cursor: pointer;
	color:red;
}
.content .p-box>p{
	text-align: center;
	color: #333;
	float: left;
	padding: 2px 18px;
	border-right: 1px solid #CCCCCC;
	
}
.p-box p:nth-of-type(1):hover, .p-box p:nth-of-type(2):hover, .p-box p:nth-of-type(3):hover, .p-box p:nth-of-type(4):hover, .p-box p:nth-of-type(5):hover, .p-box p:nth-of-type(6):hover, .p-box p:nth-of-type(7):hover, .p-box p:nth-of-type(8):hover, .p-box p:nth-of-type(9):hover, .p-box p:nth-of-type(10):hover{
	cursor: pointer;
	color: red;
}
.content .p-box>p:nth-last-of-type(1){
	border: none;
}
.a-box1{
	width: 1090px;
	height: 310px;
}
.a-box1 img{
	width: 100%;
	height: 100%;
	margin-left: 130px;
}


/*商品列表*/
.product-list{
	background: white;
}
.list{
	margin-left: 130px;	
	width: 1090px;
	height: 310px;
	display: flex;
	justify-content: center;
	padding-bottom: 80px;
	
}
.list img{
	width: 265px;
	height: 265px;
}
.list a img:hover{
	transition: all 0.5s;
	transform: scale(1.05,1.05);
}
.list p{
	width: 100%;
	font-size: 14px;
	text-align: center;
}
.list span{
	display: block;
	width: 100%;
	padding-top: 8px;
	font-size: 14px;	
	color: red;
	text-align: center;	
}


/*
 ---------------------------------------------------------------------------------------------------
 中间
 * */

/*页脚*/
.footerBottom {
    width: 100%;
    height: 210px;
    background-color: #414141;
}

.imgbox,
.rel,
.x-main {
    position: relative;
}

.footerBottom .borderB {
    width: 100%;
    height: 80px;
    border-bottom: 1px solid #5c5c5c;
    padding-top: 40px;
}

.footerBottom .borderB li img {
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

.footerBottom .borderB li img,
.footerBottom .borderB li span,
.link a,
.link div {
    vertical-align: middle;
}

.link {
    padding-top: 20px;
    margin-left: 32%;
}

.link a {
    color: #ccc;
    margin-left: 16px;
}

.footerBottom p {
    color: #ccc;
}

.itemList .imgbox,
.itemList .item,
.limitLeft,
.limitLeft input,
.nav,
.nav .menuBox,
.x-banner,
.x-footer {
    text-align: center;
}

.footerBottom .borderB li {
    width: 29%;
}

.footerBottom .borderB li span {
    color: #fff;
    font-size: 18px;
    line-height: 55px;
}

.borderB li:nth-of-type(1) {
    margin-left: 13%;
}

.p-1 {
    margin-left: 37%;
}

.p-2 {
    margin-left: 39%;
}


.footerTop {
    padding: 40px 0;
}

.x-whiteBoard {
    background-color: #fff;
    position: relative;
    z-index: -1;
}

.footerTop h1 {
    font-size: 16px;
    display: block;
}

b,
h1,
h2,
h3 {
    font-weight: 100;
}

.footerTop h2 {
    font-size: 24px;
    line-height: 24px;
    margin: 31px 0 22px;
}

.footerTop p,
.footerTop span {
    font-size: 14px;
}

.footerTop .middle {
    height: 170px;
    padding: 0 97px 0 91px;
    border-left: 1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8;
    margin: 0 91px 0 112px;
}

.footerTop p {
    margin-top: 28px;
    width: 243px;
    line-height: 25px;
    text-align: left;
}

.footerTop p,
.footerTop span {
    font-size: 14px;
}

img {
    vertical-align: middle;
}

.bigImg {
    width: 1349px;
    height: 420px;
}

.bigImg img {
    width: 1349px;
    height: 420px;
}

/* -------------------------------------------------------------------------------------- -------------------------------------------------------------------------------------- -------------------------------------------------------------------------------------- -------------------------------------------------------------------------------------- -------------------------------------------------------------------------------------- -------------------------------------------------------------------------------------- -------------------------------------------------------------------------------------- -------------------------------------------------------------------------------------- -------------------------------------------------------------------------------------- -------------------------------------------------------------------------------------- -------------------------------------------------------------------------------------- */

/*人气推荐*/
.renqiList img:not(.renqi-img1){
	background: white;
	width: 222px;
	height: 215px;
}
.renqiList div{
	display: inline-block;
	background: white;
	tansition:all 0.5s;
	
}
.renqiList img{
	width: 179px;
	height: 179px;
	tansition:all 0.5s;
	
}
.renqiList .renqi-img1{
	width: 400px;
	height: 350px;

}
.renqi-span1{
	margin-bottom: 80px;
}
.renqi-p1{
	margin: 65px 0 14px 0;
}
.renqiList span{
	display: block;
	width: 100%;
	color: red;
	font-size: 18px;
	text-align: center;
}
.renqiList p{
	display: block;
	width: 100%;
	font-size: 14px;
	text-align: center;
}
.renqiList{
	margin-left: 130px;
	width: 1090px;
	height: 800px;
	/*margin-top:-50px;*/
	tansition:all 0.5s;
}

.renqi-box span{
	font-weight: 100;
	color: #333;
    font-family: "Microsoft YaHei"!important;
    font-size: 28px;
    line-height: 28px;
    padding-right: 18px;
    margin: 70px 0 15px 130px;
}
.renqi-small-p{
	padding: 20px 0 8px 0;
}
.renqi-small-span{
	font-size: 14px!important;
	padding: 0 0 20px 0;
}
.renqiList div{
	margin: 0 0 0 0;
	vertical-align:top ;
	float: left;
}
.renqiList div:not(.renqi-box1){
	margin-left: 8px;
}
.renqi-box1{
	padding: 45px 0 45px 0;
}
.renqi-box2{
	margin-top: 5px!important;
}
.renqi-box3{
	margin-top: 5px!important;
}


.renqiList div a img:hover{
	transition: all 0.5s;
	transform: scale(1.05,1.05);
	
}
.renqiList a{
	tansition:all 0.5s;
}
.new>a:nth-child(2){
	margin-left: 1150px;
}
.renqi-box {
	padding-top:0.01px;
}
.renqi-box span{
	vertical-align: bottom;
}
.renqi-box a{
	float: right;
	width: 14.5%;
	display: inline-block;
	margin-left: 1150px;
	margin-top: -40px;
	vertical-align: bottom;
	
}

.p-box a{
	float: right;
	width: 16%;
}
